*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(134, 134, 134);
}

.addWords:active,
.startTraining:active,
.addWord:active,
.del:active,
.backToPrevious:active,
.defQantityApply:active {
    border-color: black white white black;
}

.addWords,
.startTraining,
.addWord,
.backToPrevious,
.goTrainingNow,
.defQantityApply {
    border: 2px solid;
    border-color: white black black white;
    width: 40%;
    height: 30%;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(230, 128, 255), rgb(119, 119, 247));
    font-weight: 900;
    cursor: pointer;
}

.addWords:hover,
.startTraining:hover,
.backToPrevious:hover,
.addWord:hover {
    opacity: 90%;
}

.wrap {
    border-radius: 15px 0 15px 15px;
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
    height: 700px;
    border: 2px solid white;
    /* background-color: rgb(189, 210, 255); */
    background: linear-gradient(to right, rgba(152, 163, 255, 0.894), rgba(216, 130, 255, 0.749));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    position: relative;
}

.or,
.defQantityText {
    color: black;
    font-size: large;
    font-weight: 900;
    cursor: none;
}

.wordsWrapper,
.defQuantityWrap {
    margin: 0 auto;
    border-radius: 19px 0 19px 19px;
    width: 80%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    border-left-color: rgb(0, 128, 85);
    border-top-color: rgb(171, 3, 171);
    border-right-color: rgb(255, 0, 98);
    border-bottom-color: rgb(64, 61, 255);
}

.vocabulary,
.trainingFieldWrap {
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 23px 0 23px 23px;
    width: 77.5%;
    height: 500px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

.trainingFieldWrap{
    margin-top: 40px;
    overflow: hidden;
    background-color: white;
}

.addWordInput,
.addTranslateInput,
.defQuantityInput {
    text-align: center;
    appearance: none;
    border: none;
    border-radius: 7px;
    height: 60%;
    width: 35%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: large;
    font-weight: 800;
}

.addWordInput:focus,
.addTranslateInput:focus {
    border: 2px solid;
    outline: none;
    border-right-color: rgb(0, 128, 85);
    border-top-color: rgb(64, 61, 255);
    border-left-color: rgb(255, 0, 98);
    border-bottom-color: rgb(171, 3, 171);
    
}

.addWord {
    border-color: rgb(214, 214, 214) black black rgb(214, 214, 214);
    width: 20%;
    height: 40%;
}

.vocElement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 30px;
    
    width: 98%;
    margin-bottom: 5px;
    border-radius: 11px 0 11px 11px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.wordEng {
    min-height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 31%;
    text-align: center;
    font-weight: 900;
    margin-left: 10px;
}

.dash {
    font-size: large;
    font-weight: 900;
    padding: 0 10px 0 10px;
}

.wordTranslate {
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 70%;
    width: 35%;
    text-align: center;
    padding-top: 5px;
    margin-left: 10px;
}

.del {
    position: absolute;
    left: 85.5%;
    height: 20px;
    width: 35px;
    border: 2px solid;
    border-radius: 9px;
    cursor: pointer;
    background-color: rgb(255, 101, 116);
    border-color: rgb(214, 214, 214) black black rgb(214, 214, 214);
}

.del:hover {
    background-color: rgb(255, 49, 70);
}

.del:active {
    background-color: rgb(254, 0, 25);
}

.rmvImg {
    width: 80%;
    height: 80%;
}

.wordNum{
    margin-left: 10%;
    margin-top: 10px;
    width: 57px;
    height: 22px;
    border: 1px solid black;
    /* border-color: white black black white; */
    border-radius: 13px 0 13px 13px;
    background-color: rgb(233, 233, 233);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.backToPrevious{
    position: absolute;
    top: 2px;
    left: 95.8%;
    height: 33px;
    width: 33px;
    border-radius: 18px 2px 18px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backImg{
    height: 17px;
    width: 17px;
}

.defQuantityText{
    display: flex;
    align-items: center;
    min-width: 20%;
    height: 50%;
    font-weight: 900;
    font-size: large;
}

.defQuantityInput{
    outline: none;
    color: white;
    width: 20%;
}

.defQantityApply{
    display: block;
    width: 15%;
}